{% extends "layout.html" %}
{% block content %}
    <div class='main-header'>
        <h1>{{ user.fname }} {{ user.lname }} | {{ user.user_code }}</h1>
    </div>
    <h2>{{ user.email }}</h2>

    {% if passwdform != None %}
        <form action="" method="POST">
            {{ passwdform.hidden_tag() }}
            {{ render_field(passwdform.oldpasswd) }}
            {{ render_field(passwdform.newpasswd) }}
            {{ render_field(passwdform.confirm_password) }}
            {{ render_field(passwdform.change) }}
        </form>
    {% endif %}

    {% if form %}
        <h3>Change user's Authentication</h3>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {% if form.user_auth.errors %}
                <ul>
                    {% for error in form.user_auth.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {{ form.user_auth }}
            {{ form.submit }}
        </form>
    {% endif %}

    <h3>Classes</h3>
    {% if user.subjects %}
        <ul>
            {% for subject in user.subjects %}
                <li>{{ subject.subject.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Not enrolled in any classes</p>
    {% endif %}

    {% if delete_form %}
        <form action="" method="POST">
            {{ delete_form.hidden_tag() }}
            {{ delete_form.delete }}
        </form>
    {% endif %}
{% endblock %}