{% extends "layout.html" %}
{% block content %}
    <div class='main-header'>
        <h1>Add Times</h1>
    </div>
    {% macro render_time_field(field) %}
        <div id='time_field'>
                {% if field.errors %}
                    <ul class='time_errors'>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ field.label }} {{ field(**kwargs)|safe }}
        </div>
    {% endmacro %}

    <!-- Form for setting the default times which each class can be -->
    <form action='' method='POST'>
        {{ form.csrf_token }}
        {{ render_time_field(form.time) }}
        {{ form.add_time }}
    </form>

    {% if times %}
        <p class='warning'>Warning! Deleting a time also deletes it from all the classes that use the deleted time</p>
    {% endif %}
    <ul>
        {% for time in times %}
            {% if time %}
                <li>{{ time.start_time }} - {{ time.end_time }}
                    <form action='/delete_times' method='POST'>
                        <input type="hidden" name='time' value='{{ time.id }}'>
                        <input type="submit" name='Submit' value='Delete'>
                    </form>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}