{% extends "layout.html" %}
{% block content %}
    <h1>{{ subject.name }}</h1>

    <!-- Displaying all the users in the class if the user viewing the class is a teacher -->
    {% if subject.users %}
        <ul>
        {% for user in subject.users %}
            {% if user.user_type == 'student' %}
                <li>{{ user.user.fname }}</li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}

    {% if class_code %}
        <a href="{{ url_for('settimes', class_code=subject.code) }}">Edit Times</a>
    {% endif %}
{% endblock %}