{% extends "layout.html" %}
{% block content %}
    <div class='register-login'>
        <h1>New Class</h1>
        
        <!-- Form for registering -->
        <form action='' method='POST'>
                {{ form.csrf_token }}
                {{ render_field(form.cname) }}
                {{ render_field(form.ccode) }}
                <div class='boolean'>{{form.auto_add.label }} {{ form.auto_add }}</div>
                <div class='submit'>{{ form.submit }}</div>
        </form>
    </div>
{% endblock %}