{% extends "layout.html" %}
{% block content %}
    {% if not user.is_anonymous and user.auth in ['student', 'teacher'] %}
        <div class='main-header'>
            <h1>Classes Today</h1>
        </div>
        <div id="homepage-attendance">
            {% if user_attendance_today %}
                <ul>
                    {% for i in user_attendance_today %}
                        {% if i|length > 2 %}
                            <li>
                                <div class='homepage-list'>
                                    <div class='homepage-list-left'>{{ i[0] }}</div>
                                    <div class='homepage-list-center'>{{ i[1] }}</div>
                                    <div class='homepage-list-right'>{{ i[2] }}</div>
                                </div>
                            </li>
                        {% elif i|length == 2 %}
                            <li>
                                <div class='homepage-list'>
                                    <div class='homepage-list-left'>{{ i[0] }}</div>
                                    <div class='homepage-list-right'>{{ i[1] }}</div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% else %}
                <p>No Classes On Today</p>
            {% endif %}
            </div>
    {% endif %}
{% endblock %}