<!doctype html>
<html lang="en-US">
		<head>
			<title>Attendace Management</title>
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
			<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
		</head>

		<body>
				{%include "header.html"%}
				{%include "navigation.html"%}
				{% from "_formhelpers.html" import render_field %}
				<div id="wrapper">
					{%block content%}{%endblock%}
				</div>
				{%include "footer.html"%}
		</body>
</html>