{% extends "layout.html" %}
{% block content %}
    <h1>Classes for</h1>
    <h2>{{ user.fname }} {{ user.lname }} {{ user.user_code }}</h2>

    {% if current_user.auth == 'teacher' %}
        <a href="{{ url_for('all_classes') }}">All Classes</a>
    {% endif %}

    <h2>My Classes</h2>
    {% if user_classes %}
        {% for class in user_classes %}
            <a href="{{ url_for('class_code', class_code=class.code, user_code=user.user_code, day=day_num) }}"><p>{{ class.name }}</p></a>
        {% endfor %}
    {% endif %}

    {% if user.auth == 'student' %}
        {% if form.code %}
        <h2>Join Classes</h2>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {% for error in form.code.errors %}
                {{ error }}
            {% endfor %}
            {{ form.code }}
            {{ form.join }}
        </form>
        {% endif %}
    {% endif %}
    
    {% if not form.classes and current_user.auth == 'teacher' %}
        <p>Looks like no classes exist, create some classes to add students to a class</p>
    {% endif %}

    <!-- Doesn't display the form if the current user is not a teacher, there are no choices left in the form 
         and if the user which is being viewed already has the maxmium amount of possible classes -->
    {% if current_user.auth == 'teacher' and form.classes.choices and user_classes|length < 6 %}
        <h2>Add user to classes</h2>
        <!-- Adding A student to multiple classes -->
        {% if form.errors %}
            <ul class='errors'>
                {% for error in form.errors %}
                    {% for e in form.errors[error] %}
                    <li>{{ e }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
            <form method='POST' action="">
                {{ form.hidden_tag() }}
                {{ form.classes }}
                {{ form.submit }}
            </form>
        <!-- End of adding a student to multiple classes -->
    {% endif %}
{% endblock %}