<!--Navigation Bar-->
<div id='nav'>
    <ul>
        <div id="nav-left">
            <li><a href="{{url_for('home')}}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{url_for('classes', user_code=current_user.user_code)}}">Classes</a></li>
                {% if current_user.auth == 'teacher' %}
                    <li><a href="{{url_for('students')}}">Students</li></a>
                    <li><a href="{{url_for('create_class')}}">New Class</a></li>
                    <li><a href="{{url_for('addtime')}}">Add Times</a></li>
                    <li><a href="{{url_for('scanner')}}">Add Scanner</a></li>
                {% endif %}
            {% endif %}
        </div>
        <div id="nav-right">
            {% if not current_user.is_authenticated %}
                <li><a href="{{url_for('register')}}">Register</a></li>
                <li><a href="{{url_for('login')}}">Login</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                <li><a href="{{url_for('account', user_code=current_user.user_code)}}">{{ current_user.fname }}</a></li>
            {% endif %}
        </div>
    </ul>
</div>