<!--Navigation Bar-->
<div id='nav'>
    <ul>
        <div id="nav-left">
            <li><a href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('classes')}}">Classes</a></li>
            <li><a href="{{url_for('class_code', class_code='test')}}">Specific class</a></li>
        </div>
        <div id="nav-right">
            <li><a href="{{url_for('register')}}">Register</a></li>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('account', user='test')}}">Account</a></li>
        </div>
    </ul>
</div>