{% extends "layout.html" %}
{% block content %}
    <div class='register-login'>
        <h1>Register</h1>
        
        <!-- Form for registering -->
        <form action='' method='POST'>
                {{ form.csrf_token }}
                {{ render_field(form.fname) }}
                {{ render_field(form.lname) }}
                {{ render_field(form.std_code) }}
                {{ render_field(form.email) }}
                {{ render_field(form.password) }}
                {{ render_field(form.confirm_password) }}
                <div class='submit'>{{ form.submit }}</div>
        </form>
    </div>
{% endblock %}