{% extends "layout.html" %}
{% block content %}

    <!-- TODO: CSS FOR THIS PAGE -->
    <h1>Set Times</h1>
    
    {% macro render_time_field(field) %}
        <div id='time_field'>
                {% if field.errors %}
                    <ul class='time_errors'>
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {{ field.label }} {{ field(**kwargs)|safe }}
        </div>
    {% endmacro %}

    <!-- Form for setting the default times which each class can be -->
    <form action='' method='POST'>
        {{ form.csrf_token }}
        {{ render_time_field(form.time) }}
        {{ render_time_field(form.week) }}
        {{ render_time_field(form.day) }}
        {{ form.add }}
    </form>

    <ul>
        {% for time in times %}
            <li>{{ time.time.start_time }} - {{time.time.end_time}}
                
                {% if time.sweek == 0%} Week A {% else %} Week B {% endif %} {{ days[time.sday] }}

            </li>
        {% endfor %}
    </ul>
    remove_times_form

    <form action="{{ url_for('removetimes') }}" method='POST'>
        {{ remove_times_form.csrf_token }}
        {{ remove_times_form.time }}
        {{ remove_times_form.remove }}
    </form>
{% endblock %}