{% extends "layout.html" %}
{% block content %}
    <div class='main-header'>
        <h1>My Students</h1>
    </div>
    {% if my_students %}
        <div class='main-lists'>
            <ul>
                {% for student in my_students %}
                    <a href="{{ url_for('classes', user_code=student.user_code) }}"><li>{{ student.fname}} {{ student.lname }}</li></a>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>You have no students</p>
    {% endif %}

    <div class='main-header'>
        <h1>All Students</h1>
    </div>
    {% if students %}
        <div class='main-lists'>
            <ul>
                {% for student in students %}
                <a href="{{ url_for('classes', user_code=student.user_code) }}"><li>{{ student.fname }} {{ student.lname }}</li></a>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <p>There are no students</p>
    {% endif %}
{% endblock %}