{% extends "layout.html" %}
{% block content %}
    <h1>{{ subject.name }}</h1>

    <!-- Displaying all the users in the class if the user viewing the class is a teacher -->
    <h2>Times</h2>
    {% if subject.times %}
        <ul>
            {% for time in subject.times %}
                <li>{{ time.time.start_time }} {{ time.time.end_time }} {% if not time.sweek %} A {% else %} B {% endif %} {{ days[time.sday] }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h1>Attendance</h1>
    {% if attnd_times %}
        <ul>
            {% for time in attnd_times %}
                <li>{{ time.time.date() }} {{ time.time.time() }} {{ time.attnd_status }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No Attendance Logs For This Class</p>
    {% endif %}



    {% if attnd_day %}
        <ul>
            <li>{{ attnd_day.time.date() }} {{ attnd_day.time.time() }} {{ attnd_day.attnd_status }}</li>
        </ul>
    {% else %}
        <p>No Attendance Attendance Logged For This Day</p>
    {% endif %}
    
{% endblock %}